<app-header [showMenu]="true"  title="Mis Productos Prestados"></app-header>

<ion-content>
  <ion-list *ngIf="borrowedRequests.length; else noProducts">
    <ion-item *ngFor="let request of borrowedRequests">
      <ion-avatar slot="start">
        <img [src]="request.product.Image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ request.product.name }}</h2>
        <p><strong>Ubicación:</strong> {{ request.product.location }}</p>
        <p><strong>Tiempo restante:</strong> 
          <span *ngIf="request.remainingTime > 0">{{ request.remainingTime }} horas</span>
          <span *ngIf="request.remainingTime === 0" class="text-danger">¡Debes devolver el producto!</span>
        </p>
      </ion-label>
      <ion-button 
        expand="block" 
        color="danger" 
        (click)="returnProduct(request)">
        Devolver Producto
      </ion-button>
    </ion-item>
  </ion-list>

  

  <ng-template #noProducts>
    <div class="empty">
      <ion-icon name="document-outline"></ion-icon>
      <h3>No tienes productos prestados</h3>
    </div>
  </ng-template>
</ion-content>
